*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    
    
}

:root{
    --Dark-Blue:hsl(233, 26%, 24%);
    --Lime-Green:hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    z-index: 1;
}

header ul li{
    display: inline-block;
    padding: 0px 10px;
}
header ul li a{
    text-decoration: none;
    padding-bottom: 40px; 
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}
header ul li a:hover{
    border-bottom: 3px solid hsl(192, 70%, 51%); 
    color: hsl(233, 26%, 24%);
}
.mobile-nav{
    display: none;
}
header .hamburger{
    display: none; 
    
}
button{
    padding: 15px;
    width: 190px;
    border-radius: 30px;
    border: none;
    color: white;
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%)); 
}

main{
    overflow-x: hidden; 
    
}
.hero_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_content{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: flex-start;
    width: 33%;
    margin: 0 auto; 
    margin-left: 90px; 
}
.left_content h1{
    font-size: 44px;
    font-weight: 300;
    color:hsl(233, 26%, 24%); 
}
.left_content p{
    font-size: 15px;
    font-weight: 300;
    color:hsl(233, 26%, 24%); 
    padding-bottom: 10px;
    line-height: 30px;
}
.right_content{
    background: url(../images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-x: 150px;
    background-position-y: -80px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.right_content img{
    width: 70%; 
    overflow-x: hidden;
    transform: translate(140px, -20px);
}

.whyus{
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 90px  ;
    margin: 0 auto; 

}
/* .whyus{
    padding: 90px  ;
} */
.about{
    padding-bottom: 20px;
}
.about h1{
    font-size: 30px;
    font-weight: 300;
    color:hsl(233, 26%, 24%); 
}
.about p{
    width: 89%;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color:
    hsl(233, 26%, 24%);
}
.features{
    display: flex;
    flex-direction: row;
}
.features h3{
    font-size: 20px;
    font-weight: 300;
    color:hsl(233, 26%, 24%); 
    padding: 20px 0;
}
.features p{
    width: 90%;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color:hsl(233, 26%, 24%); 
}
.latestarticles{
    width: 90%; 
    padding-left: 90px;
}

.articles{
    display: flex; 
    margin: 40px 0; 
}

.articles article{
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-right: 20px; 
    background: white; 
}

.articles article:last-child{
    margin-right: 0;
}

.articles article div {
    padding: 0 20px 20px; 
}
.latestarticles  h1{
    font-size: 30px;
    font-weight: 300;
    color:hsl(233, 26%, 24%); 

}
.articles article p{
    font-size: 12px; 
    font-weight: 300;
    margin: 30px 0 10px; 
    color:hsl(233, 26%, 24%); 
}

.articles article h3{
    font-size: 12px; 
    font-weight: 400;
    line-height: 20px;
    color:hsl(233, 26%, 24%); 
}

.articles article p{
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
}
.articles img{
    width: 100%; 
    height: 180px; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
footer{
    background:hsl(233, 26%, 24%); 
    padding: 40px 0 40px; 
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 90%; 
    margin: 0 auto; 
}

footer .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .socials img{
    margin-right: 10px; 
}

footer .socials .logo{
    margin-bottom: 35px; 
}

footer nav ul{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 40px; 
}

footer nav ul li{
    margin: 5px 0; 
}

footer nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px; 
}

@media screen and (max-width:480px) {
    header {
        padding: 20px; 
        justify-content: space-between;
        height: 75px; 
        position: relative; 
    }
    header .hamburger{
        display: block; 
        cursor: pointer; 
    }
    header nav, header button{
        display: none; 
    }
    .mobile-nav{
        display: none; 
        flex-direction: column;
        align-items: center;
        padding: 20px; 
        margin: 20px;
        border-radius: 10px;  
        background: white;  
        position: absolute; 
        top: 70px; 
        left: 10px; 
        width: 85%; 
        z-index: 1;
    }
    .mobile-nav ul {
        list-style: none; 
        text-align: center;
    }
    .mobile-nav ul li{
        margin: 20px 0; 
    }
    .mobile-nav ul li a{
        text-decoration: none;
        color:hsl(233, 26%, 24%); 
        font-size: 18px; 
    }
    .mobile-nav ul li a:hover{
        text-decoration: underline;
    }
    .hero_div{
        flex-direction: column;
        margin-bottom: 40px; 
    }
    .right_content{
        order: -1;
        
    }
    .right_content img{
        transform: translate(0px, -7px);
    }
    .left_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 78%;
        margin: 0 auto;
    }
    .about{
        width: 100%;
    }
    .whyus{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .features{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .features p{
        width: 100%;
    }
    .features div{
        margin-bottom: 20px;
    }
    .latestarticles{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        text-align: center;
        margin: 0 auto;
        /* width: 70%; */
    }
    .articles{
        display: flex;
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
    .footer .socials{
        margin-bottom: 20px;
    }
    .footer nav ul {
        margin-right: 0;
    }
}